{
  "plugins": [
    [
      "module-resolver",
      {
        "root": [
          "./src"
        ],
        "alias": {
          "@assets": "./src/assets",
          "@components": "./src/components",
          "@routes": "./src/routes",
          "@screens": "./src/screens",
          "@store": "./src/store",
          "@theme": "./src/theme",
          "@utils": "./src/utils"
        }
      }
    ]
  ]
}